In [1]:
import pandas as pd

In [2]:
image_link_list_w_name_all = pd.read_csv("image_link_list_w_name_all.csv", usecols=['nconst','wiki_image_link'])
image_link_list_w_name_all.head(2)

      nconst                                    wiki_image_link
0  nm0000685  https://upload.wikimedia.org/wikipedia/commons...
1  nm1221047  https://upload.wikimedia.org/wikipedia/commons...

In [13]:
actors_with_all_years_sorted = pd.read_csv("actors_with_all_years_sorted.csv", usecols=['startYear','nconst','primaryName','age_at_movie','rolling_5yr_sumrating','max_rolling_5yr_sumrating'])
actors_one_year_sorted = actors_with_all_years_sorted[actors_with_all_years_sorted['startYear']==1995].copy()
actors_one_year_sorted.head(3)

,startYear,primaryName,nconst,age_at_movie,rolling_5yr_sumrating,max_rolling_5yr_sumrating
15,1995,Aaron Eckhart,NaN,27,NaN,28.566667
60,1995,Adam Driver,NaN,12,NaN,35.850000
105,1995,Adam Sandler,nm0001191,29,12.5,33.000000

In [14]:
actors_one_year_dropna = actors_one_year_sorted[~actors_one_year_sorted['rolling_5yr_sumrating'].isna()].copy()
actors_one_year_dropna.head(3)

,startYear,primaryName,nconst,age_at_movie,rolling_5yr_sumrating,max_rolling_5yr_sumrating
105,1995,Adam Sandler,nm0001191,29,12.50,33.000000
195,1995,Al Pacino,nm0000199,55,30.75,36.150000
240,1995,Alan Arkin,NaN,61,14.30,28.166667

In [15]:
actors_one_year_dropna_with_link = actors_one_year_dropna.merge(image_link_list_w_name_all, on='nconst')

In [16]:
actors_one_year_dropna_with_link.to_csv("actors_one_year_dropna_with_link.csv", index=False)

In [17]:
actors_all_year_dropna_with_link = actors_with_all_years_sorted.merge(image_link_list_w_name_all, on='nconst')

In [18]:
actors_all_year_dropna_with_link.to_csv("actors_all_year_dropna_with_link.csv", index=False)

In [19]:
actors_all_year_dropna_with_link[actors_all_year_dropna_with_link['max_rolling_5yr_sumrating']>30].to_csv("actors_all_year_30+_with_link.csv", index=False)

In [20]:
all_years_for_label = actors_all_year_dropna_with_link[['startYear']].drop_duplicates()
all_years_for_label['x'] = 80
all_years_for_label['y'] = 100000

In [22]:
all_years_for_label.to_csv("all_years_for_label.csv", index=False)